.search-preview {
  background: #f4f5f6;
 /** @font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue.otf);
 }
  */
 /** @font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/HelveticaNeue.otf);
 }
 */
 /* top header starts */
 /* top header ends */
 /* search starts here*/
 /* search ends here*/
 /* Interaction states ----------------------------------*/
 /** .ui-slider {
    width: 200px;
 }
 */
 /* footer starts here */
 /* footer ends here */
}
.search-preview .preview-close {
  background: url(/images/sprite.svg) no-repeat -170px -71px;
  width: 12px;
  height: 11px;
  display: inline-block;
  cursor: pointer;
}
.search-preview .close-container {
  padding: 10px;
  background-color: #e8f1f7;
  box-shadow: 0 2px 6px 0 rgba(127, 151, 167, 0.3);
  display: flex;
  flex-direction: row-reverse;
}
.search-preview li {
  list-style-type: none;
}
.search-preview a {
  text-decoration: none;
}
.search-preview .view-type-wrapper a {
  color: #5c656a;
}
.search-preview h1, .search-preview h2, .search-preview h3, .search-preview h4, .search-preview h5, .search-preview h6 {
  font-weight: normal;
}
.search-preview h2 {
  font-size: 22px;
  margin: unset;
}
.search-preview h3 {
  font-size: 16px;
  margin: unset;
}
.search-preview h4 {
  font-size: 15px;
}
.search-preview h5 {
  font-size: 14px;
}
.search-preview h6 {
  font-size: 13px;
}
.search-preview body {
  background: #fff;
  font-family: proxima-nova, Arial, sans-serif;
  font-size: 12px;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
.search-preview input, .search-preview textarea, .search-preview select {
  font-family: proxima-nova, Arial, sans-serif;
}
.search-preview .lt {
  float: left;
}
.search-preview .rt {
  float: right;
}
.search-preview .bl {
  display: block;
}
.search-preview .ib {
  display: inline-block;
}
.search-preview .auto {
  margin: 0px auto;
}
.search-preview .clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0px;
  height: 0px;
  visibilty: hidden;
}
.search-preview .bgw {
  background-color: #fff;
}
.search-preview .bgb {
  background-color: #ebeeef;
  color: #fff;
}
.search-preview .row {
  margin: 0px auto;
  width: 90%;
}
.search-preview .btn {
  display: inline-block;
  background-color: #45b5c1;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: medium none;
}
.search-preview .btn:hover {
  background-color: #56cedb;
}
.search-preview .btn:active {
  background-color: #56cedb;
}
.search-preview .header-container {
  margin: 0px;
  width: 100%;
}
.search-preview .header {
  height: 75px;
}
.search-preview .header-logo {
  width: 260px;
  padding-top: 18px;
}
.search-preview .header-search {
  width: 415px;
  padding: 25px 0px;
  margin: 0px auto;
}
.search-preview .search-input-button-holder {
  border-radius: 3px;
  border: 1px solid #fff;
}
.search-preview .search-input {
  width: 377px;
  font-size: 13px;
  padding: 7px;
  color: #888;
  border: unset;
}
.search-preview .search-button {
  width: 36px;
  background-color: #45b5c1;
  cursor: pointer;
  background-image: url("/images/search-icon-demo.png");
  background-repeat: no-repeat;
  background-position: 10px 7px;
  cursor: pointer;
  height: 32px;
  border: unset;
}
.search-preview .search-button:hover, .search-preview .search-button:active {
  background-color: #56cedb;
}
.search-preview .header-cart {
  padding-top: 26px;
  padding-right: 30px;
  position: relative;
}
.search-preview .cart-count {
  background-color: #45b5c1;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 19px;
  text-align: center;
  color: #fff;
  padding-top: 0px;
  line-height: 21px;
  font-size: 14px;
  display: none;
}
.search-preview .preview-search-container {
  padding: 35px 0px;
}
.search-preview .search-facet-column {
  width: 26%;
  background: #fff;
  padding: 15px;
  border: 1px solid #dcdcdc;
}
.search-preview .facet-block {
  padding-bottom: 40px;
}
.search-preview .facet-block .facet-title {
  font-size: 13px;
  font-weight: 700;
  width: 100%;
  color: #5c656a;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.search-preview .facet-values {
  max-height: 140px;
  overflow: auto;
}
.search-preview .facet-values ul li {
  padding: 5px 0px;
  font-size: 14px;
  color: #686969;
}
.search-preview .facet-values ul li input {
  display: none;
}
.search-preview .facet-values ul li label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  color: #5c656a;
  font-weight: 600;
  margin-bottom: 5px;
  height: 19px;
}
.search-preview .facet-values ul li label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #f9f9f9;
  border: 1px solid #d2cdcd;
  border-radius: 3px;
}
.search-preview .facet-values ul li input[type="checkbox"]:checked + label:before {
  background: url("/images/tick-demo.png") no-repeat 25%;
}
.search-preview .facet-price {
  margin: 15px 0px 8px 0px;
  font-size: 20px;
  font-weight: bold;
  color: #1a1c1c;
  margin-left: 5px;
}
.search-preview .search-result-column {
  width: 73%;
  background: #fff;
  padding: 15px;
  border: 1px solid #dcdcdc;
}
.search-preview .result-spell-check {
  color: #5c656a;
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px 0px;
  font-weight: 600;
}
.search-preview .result-title-count {
  text-transform: uppercase;
  color: #8d8d8d;
  font-size: 13px;
  padding: 5px 0px 10px 0px;
  margin-bottom: 10px;
}
.search-preview .result-selected-facets {
  padding: 10px 0px;
}
.search-preview .selected-facet {
  display: inline-block;
  margin: 0 10px;
  height: 26px;
  border-radius: 3px;
  background-color: #dfdfdf;
  vertical-align: middle;
}
.search-preview .selected-facet-name {
  font-size: 13px;
  padding: 5px;
}
.search-preview .selected-facet-delete {
  font-size: 21px;
  line-height: 25px;
  padding: 0px 3px;
  cursor: pointer;
}
.search-preview .selected-facet-delete:hover {
  text-decoration: underline;
}
.search-preview .search-result-list {
  font-size: 0px;
}
.search-preview .search-result-list .grid {
  width: 33.33%;
  display: inline-block;
}
.search-preview .search-result-list .list {
  width: 100%;
  display: block;
}
.search-preview .search-result-list .list a {
  display: flex;
}
.search-preview .search-result-list .list a .result-image-container {
  width: 30%;
  margin-bottom: unset;
  height: 100%;
}
.search-preview .search-result-list .list a .description {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-preview .search-result-list .list .result-item {
  height: 280px;
}
.search-preview .search-result-list li {
  margin-bottom: 20px;
  font-size: 12px;
}
.search-preview .search-result-list li a {
  display: block;
  width: 100%;
  border: 1px solid #dcdcdc;
}
.search-preview .search-result-list li a .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 246px;
}
.search-preview .search-result-list li:nth-child(3n) {
  margin-right: 0px;
}
.search-preview .result-item {
  display: block;
  width: 206px;
  height: 370px;
}
.search-preview .result-image-container {
  width: 100%;
  height: 246px;
  display: table;
  text-align: center;
  margin-bottom: 20px;
}
.search-preview .result-image-container img {
  width: 100%;
  height: 100%;
}
.search-preview .result-image-horizontal-holder {
  display: table-cell;
  vertical-align: middle;
}
.search-preview .result-image-horizontal-holder img {
  max-width: 204px;
  max-height: 246px;
  border: 1px solid #e3e2e2;
}
.search-preview .result-image-border {
  border-bottom: 3px solid #000;
}
.search-preview .result-brand {
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  color: #5c656a;
  font-style: normal;
  font-weight: 600;
}
.search-preview .result-title {
  padding: 8px 5px 5px 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  height: 24px;
  padding-left: 10px;
}
.search-preview .result-actions {
  padding: 4px 5px 7px 5px;
}
.search-preview .result-price {
  font-size: 16px;
  font-weight: 600;
  color: #5c656a;
  text-shadow: rgba(0, 0, 0, 0.00392157) 1px 1px 1px;
  text-align: left;
  padding-left: 10px;
}
.search-preview .result-sizes {
  border-top: 1px dashed #e1e1e1;
  border-bottom: 1px dashed #e1e1e1;
  padding: 3px;
  color: #6d6d6d;
  font-size: 11px;
}
.search-preview .result-sizes span {
  text-decoration: underline;
}
.search-preview .result-loader {
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px dotted #222;
  display: none;
}
.search-preview .result-loader a {
  border: 1px solid #222;
  line-height: 38px;
  color: #000;
  background-color: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
  top: 19px;
  text-decoration: none;
  white-space: nowrap;
}
.search-preview .result-loader a img {
  vertical-align: middle;
  margin-right: 5px;
}
.search-preview .ui-widget-content {
  height: 10px;
  background: #54c5cf;
  border-radius: 5px;
  color: #222;
 /*{
   fcContent
 }
 */
  cursor: pointer;
}
.search-preview .ui-widget-header {
  background: #d1d5d7;
  border-radius: 5px;
  cursor: pointer;
}
.search-preview .ui-state-default, .search-preview .ui-widget-content .ui-state-default, .search-preview .ui-widget-header .ui-state-default {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 20px;
  background: #54c5cf;
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  outline: 0;
  padding-left: 1px;
  cursor: pointer;
}
.search-preview .slider-range-max {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
.search-preview .amount {
  border: 0;
  outline: 0;
  color: #1a1c1c;
  background-color: #e8eeef;
  margin-top: 10px;
  width: 67px;
  text-align: right;
  font-family: Helvetica;
  font-size: 13px;
}
.search-preview .amount-text {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 13px;
  margin-left: 2px;
}
.search-preview .ui-widget-header {
  background-color: #45b5c1 !important;
}
.search-preview .ui-widget-content {
  background-color: #d1d5d7 !important;
}
.search-preview .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em !important;
  margin-left: -0.6em;
}
.search-preview .ui-slider-horizontal {
  margin: 10px 0px 0 4px !important;
}
.search-preview #amount {
  margin-top: 10px;
  color: #5c656a !important;
}
.search-preview .footer {
  text-align: center;
  padding: 40px 20px;
  font-size: 11px;
  color: #fff;
  background-color: #3c4345;
}
.search-preview .result-page-size-options, .search-preview .result-sort-options, .search-preview .change-view, .search-preview .result-pagination {
  display: inline-block;
  float: right;
}
.search-preview .result-page-size-options span, .search-preview .result-sort-options span, .search-preview .change-view span, .search-preview .result-pagination span {
  background: #f4f5f6;
  padding: 5px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
}
.search-preview .result-pagination {
  margin-bottom: 10px;
}
.search-preview .change-view {
  display: flex;
  align-items: center;
}
.search-preview .change-view .list-view, .search-preview .change-view .grid-view {
  display: inline-block;
}
.search-preview .change-view span {
  border: unset;
  background: unset;
}
.search-preview .view-types {
  display: flex;
  height: 30px;
}
.search-preview .view-types i {
  font-size: 18px;
}
.search-preview .result-sort-options select, .search-preview .result-page-size-options select {
  border: 1px solid #d5d6d9;
  border-radius: 2px;
  box-sizing: border-box;
  color: #282c3f;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  padding: 8px 14px;
  position: relative;
  text-align: left;
  width: 185px;
  margin-right: 20px;
}
.search-preview .result-page-size-options select {
  width: 50px;
}
.search-preview .sort-by-container:after {
  content: " ";
  display: block;
  clear: both;
}
.search-preview .page-size-container, .search-preview .sort-by-container {
  display: flex;
  align-items: center;
}
.search-preview .search-header-options {
  display: flex;
  margin-bottom: 20px;
}
.search-preview .view-type-wrapper {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f5f6;
  margin-right: 5px;
}
.search-preview .swatch-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
